geocoder==1.38.1
geopy==2.4.1
nltk==3.8.1
pandas==1.1.4
pdfminer3==2018.12.3.0
Pillow==8.0.1
Pillow==10.2.0
plotly==5.20.0
pydparser==1.0.4
PyMySQL==1.1.0
streamlit==1.32.2
streamlit_lottie==0.0.5
streamlit_tags==1.2.8
